.todoContainer {
  display: flex;
}

.todoForm {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 5px 10px gray;
  max-width: max-content;
  /* justify-content: center;
  align-items: center; */
}
